.Grid_container{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 145px 70px 210px 85px 140px 40px;
    color: rgb(138, 46, 228);
    background-color: rgb(60, 60, 60);
    padding: 10px;
    margin: 10px;
    border: solid 2px red;
    text-align: center;    
    background-image: url(86c2ddf4487ad701c43b196080dac7ff.png);
}

div {
    color: rgb(255, 255, 255);
    background-color: rgb(80, 68, 119);
    padding: 10px;
    height: auto;
    border: solid 2px rgb(255, 162, 2);
}

.Title {
    text-align: center;
}

#div1 {
    background-color: pink;
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    line-height: 80px;
    background-image: url(gettyimages-522030332.png);
}
 
#div2 {
    background-color: blue;
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    line-height: 110px;
    background-image: url(valentine_custom-07237812253f7d5645f39d931905bdb9ad78ea86-s400-c85.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#div3{
    grid-column: 4 / 6;
    grid-row: 4 / 6;
}

#div4{
    grid-row: 6;
    grid-column: 2 / 6;
}

#div5 {
    background-color: grey;
    grid-column: 1 / 6;
    grid-row: 2 / 3;
    -webkit-text-fill-color: black;
    line-height: 1px;
}

#div7 {
    background-color: rgb(120, 116, 116);
    grid-column: 2 / 6;
    grid-row: 5 / 8;
}

#div8{
    grid-row: 5 / 7;
    grid-column: 1 / 2;
}

#Info_Text{
    text-align: end;
}

#Text{
    grid-column: 2 / 6;
    grid-row: 3 / 6;
}

#Link{
    -webkit-text-fill-color: white;
    text-align: end;
}
